@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100vh;
    width: 100%;
}


header {
    height: 90px;
    background-image: linear-gradient(to right, #ED7296, #ED939F, #ECB5A8);
}

.logo {
    position: absolute;
    top: -15px;
    left: 10px;
}

.btn {
    position: absolute;
    height: 45px;
    font-weight: bold;
    color: white;
    padding: 11px 20px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 40px;
    border-color: white;
    background-color: transparent;
    box-shadow: 0px 10px 20px -6px rgb(0 0 0 / 12%);
    font-size: 14px;
    top: 25px;
    right: 20px;
}

.btn:hover {
    background-color: white;
    color: #EDAAA5;
}

main {
    position: relative;
    height: 100vh;
}

.wave {
    display: block;
    height: 300px;
    background-color: #F6E8EC;
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center center;
}

.deco {
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    background: url('../imagens/watching_img.png') center center no-repeat;
    background-size: contain;
}

iframe#tela {
    position: relative;
    top: 11px;
    left: 98.6px;
    border-radius: 8px;
    width: 203.3px;
    height: 383.6px;
}

section#redes-sociais {
    position: absolute;
    top: 5%;
    right: 5%;
}

section#redes-sociais img {
    width: 55px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 6px #fb858d54;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 1.5px solid #FB858C;
    box-shadow: 2px 2px 10px #fb858d69;
    transform: translate(-3px, -6px);
    transition: transform 0.5s, border 0.6s;
}